@charset "utf-8";
/* CSS Document */

#slider {
	 background:#FFF url(http://www.hitech-informatica.es/m/img/slider.jpg) top center no-repeat;
	 height:200px;
	 clear:both;
	 margin:0px;
	 border-top:2px solid #C66;
	 border-bottom:2px solid #C66;
}

.justifica p {
	text-align:justify;
}

.social p {
	text-align:center;
}
.social a {
	text-decoration:none;
}

.footer {
	text-align:center;
	font-size:0.7em;
}

#NoConnectSplash {
	background:#FFF url(../img/nonetconn.png) top center fixed;
	background-size:auto 100%;
}

#citaonline button {
	width:90% !important;
	margin:0 auto;
}